%hr/ 
%footer.foot
	#hcard-baiao.vcard
		© 2009-2013
		%span.fn.org Baião Assessoria
		\- Todos os direitos reservados
		.adr
			%span.street-address Rua do Ouvidor, 121 - 8º andar - Centro
			%span.locality Rio de Janeiro
			%span.region RJ
			\- CEP:
			%span.postal-code 20040-031
		Tele-fax:
		%a.tel.u{:href => "+552122213330"} (21) 2221-3330
		\-
		%a.email.u{:href => "mailto:contato@baiaoassessoria.com.br"} contato@baiaoassessoria.com.br
	%a.by{:href => "#"}
		%img.by-logo{:src => "img/cristianoweb.png", :alt => "@cristianoweb", :width => "122", :height => "17"}/ 

%script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"} 
%script{:src => "js/interface.min.js"} 
