.widgets
	/ %aside.widget.widget_poll 
	/ 	%h4.widget-title Enquete atual

	%aside.widget.widget_list 
		%h4.widget-title Aniversariantes do mês
		%ul.widget-list 
			%li 
				%a{:href => "#"} 
					%img{:src => "", :alt => "", :width => "56", :height => "56"}/ 
					%strong Carlos Baião
				%br/ 
				%time 10/11/2013
				\- Sócio diretor - Diretoria
			%li 
				%a{:href => "#"} 
					%img{:src => "", :alt => "", :width => "56", :height => "56"}/ 
					%strong Leonardo Bastos
				%br/ 
				%time 10/11/2013
				\- Sócio diretor - Diretoria
			%li 
				%a{:href => "#"} 
					%img{:src => "", :alt => "", :width => "56", :height => "56"}/ 
					%strong Gabriela Bahiense
				%br/ 
				%time 10/11/2013
				\- Sócio diretor - Diretoria
		%a.widget-more.u{:href => "#"} Veja a lista completa
	%aside.widget.widget_list 
		%h4.widget-title Mudanças recentes
		%ul.widget-list 
			%li 
				%a{:href => "#"}< 
					%strong Anderson Almeida
				%br/ 
				%time 17/11/2013
				\- Promovido para o cargo de supervisor de crédito - Cobrança/RJ.
			%li 
				%a{:href => "#"}< 
					%strong Leonardo Bastos
				%br/ 
				%time 10/11/2013
				\- Sócio diretor - Diretoria
			%li 
				%a{:href => "#"}< 
					%strong Gabriela Bahiense
				%br/ 
				%time 10/11/2013
				\- Sócio diretor - Diretoria
		%a.widget-more.u{:href => "#"} Veja a lista completa
