!!!
%html{:lang => "pt-br"} 
%head 
	%title Comunicados
	= Haml::Engine.new(File.read("/Applications/MAMP/htdocs/baiaoassessoria.com.br/extranet/static/haml/_head.haml")).render
%body.page-comunicados 
	= Haml::Engine.new(File.read("/Applications/MAMP/htdocs/baiaoassessoria.com.br/extranet/static/haml/_header.haml")).render
	.body 
		.content
			%h1.page-title Comunicados internos
			%nav.filters 
				%strong.filter-title Sede/filial:
				%ul.filter-list 
					%li.filter-item< 
						%a{:href => "#"} Todos
					%li.filter-item< 
						%a{:href => "#"} RJ
					%li.filter-item< 
						%a{:href => "#"} JF
					%li.filter-item< 
						%a{:href => "#"} BH
					%li.filter-item< 
						%a{:href => "#"} AM
				%strong.filter-title Assunto:
				%ul.filter-list 
					%li.filter-item< 
						%a{:href => "#"} Todos
					%li.filter-item< 
						%a{:href => "#"} Jurídico
					%li.filter-item< 
						%a{:href => "#"} T.I.
					%li.filter-item< 
						%a{:href => "#"} Comercial
					%li.filter-item< 
						%a{:href => "#"} Geral
			%ol.post-archive 
				%li.post-item 
					%a{:href => "#"}
						%img.post-image{:src => "", :alt => "", :width => "56", :height => "56"}/ 
						%h4.post-title Pedidos de encerramento de pastas no PJUR/Ambiente de Cobrança SRRC do Itaú/Unibanco
					%p.post-excerpt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry‘s standard dummy text ever since the 1500s.
					%a.post-link.u{:href => "#"} Leia esse texto completo
					%a.post-comment-link.u{:href => "#"} 02 comentários
				%li.post-item 
					%a{:href => "#"}
						%img.post-image{:src => "", :alt => "", :width => "56", :height => "56"}/ 
						%h4.post-title Identificação do segmento EMP1 e EMP2
					%p.post-excerpt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry‘s standard dummy text ever since the 1500s.
					%a.post-link.u{:href => "#"} Leia esse texto completo
					%a.post-comment-link.u{:href => "#"} 04 comentários
				%li.post-item 
					%a{:href => "#"}
						%img.post-image{:src => "", :alt => "", :width => "56", :height => "56"}/ 
						%h4.post-title Recuperação de crédito empresas - roteiro agenda quebra de acordo
					%p.post-excerpt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry‘s standard dummy text ever since the 1500s.
					%a.post-link.u{:href => "#"} Leia esse texto completo
					%a.post-comment-link.u{:href => "#"} Nenhum comentário
		= Haml::Engine.new(File.read("/Applications/MAMP/htdocs/baiaoassessoria.com.br/extranet/static/haml/_widgets.haml")).render
	= Haml::Engine.new(File.read("/Applications/MAMP/htdocs/baiaoassessoria.com.br/extranet/static/haml/_footer.haml")).render
